@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
	color: #fff;
	background-color: #0e0e0e; 
}

.icon-hover:hover {
  filter: invert(5%) sepia(35%) saturate(2000%) hue-rotate(130deg) brightness(113%) contrast(100%)
}

@layer components {
  .slick-dots li.slick-active button:before {
    @apply text-cyan-ka;
  }
  .slick-dots li button:before {
    color: white;
    font-size: 20px;    
  }
}

.label-modal{
  display: block;
  color: white;
	font-size: 0.875rem;
	font-weight:700;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.input-modal{
  appearance: none;
  background-color:#181818;
  border-radius: 0.5rem;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  line-height: 1.25;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}
.button-ka{
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: #00FFFF;
  color: #FBFBFB;
  padding: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#nprogress .bar {
  background: cyan; 
}

#nprogress .spinner-icon {
  border-top-color: cyan;
  border-left-color: cyan;
}


/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00ffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00ffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
